@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Open+Sans&display=swap');


.container {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;

}



.row {
    height: 100%;
}

.blue-button {
    background-color: #43bccd;
    color: #f2f2f2;
    display: inline-block;
    border-radius: 25px;
    position: relative;
    height: 3rem;
    padding: 0.50rem 2.5rem;
    border: none;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    cursor: pointer;

}


/*********** global variables **************/


#cover {
    height: 700px;
    width: 100%;
    background-color: #43bccd;
}

header {
    width: 100%;
    display: flex;
}

header #navbar {
    width: 100%;
}

header #navbar ul {
    display: flex;
    position: relative;
    top: 40px;
    justify-content: flex-end;

}

header #navbar ul li #home {
    color: #000000;
    border-bottom: 1px solid #f9ca24;
}

header #navbar ul li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
    color: #ffffff;
    font-weight: 300;
    transition: all .2s ease-in-out;
}

header #navbar ul li a:hover {
    color: #000000;
    border-bottom: 1px solid #f9ca24;
}

header img {
    margin-top: 10px;
    width: 60px;
}

.cover-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cover-box {
    position: relative;
    padding: 0 14% 0 0;
    top: 120px;
}

.cover-box h2 {
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
    width: 80%;
    letter-spacing: 2px;

}

.cover-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 20px;
    line-height: 2rem;

}

.cover-box .blue-button {
    background-color: #f2f2f2;
    color: #000000;
    display: inline-block;
    border-radius: 25px;
    position: relative;
    height: 3rem;
    padding: 0.50rem 2.5rem;
    border: none;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

.cover-column .img-box {
    margin-top: -80px;
    margin-left: auto;
    margin-right: auto;
}


.cover-column .img-box img {
    width: 600px;
}

/****************** about **********************/


#about {
    background-color: #f2f2f2;
    height: 500px;
    padding-bottom: 20px;
}

#about .about-column {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));

}

#about .img-box {
    margin: 0 auto;
}

#about .img-box img {
    width: 400px;
    margin-left: -60px;
    margin-top: 65px;
}


#about .about-box {
    margin-top: 20%;
}

#about .about-box h3 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 30px;
}

#about .about-box p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

/****************** technologies  **********************/

#tech {
    height: 550px;
    background-image: linear-gradient(90deg, rgba(14, 35, 45, 0.63) 0%, rgba(14, 36, 46, 0.616) 100%),
        url('/img/smartwatch-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


#tech .tech-box {
    text-align: center;
    padding-top: 50px;
}

#tech .tech-box h3 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 700;
    margin-bottom: 30px;
}

#tech .tech-box p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 100;
    margin-bottom: 30px;
    padding: 0 120px;
    line-height: 24px;
}

#tech .tech-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#tech .tech-column .box {
    padding: 10px 10px;
}

#tech .tech-column .box i {
    color: #f9ca24;
    font-size: 30px;
    padding-bottom: 10px;
}

#tech .tech-column .box span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 600;
    padding-bottom: 5px;
}

#tech .tech-column .box p {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 300;
    line-height: 25px;

}

/* quick */

#quick {
    background: #f2f2f2;
    height: 500px;
}

#quick .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

#quick .text-column .text-box {
    position: relative;
    top: 140px;
}

#quick .text-column .text-box h2 {
    color: #000000;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

#quick .text-column .text-box p {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 16px;

}

#quick .img-column .img-box {
    margin-left: 10%;
    margin-top: 20%;
}

#quick .img-column .img-box img {
    width: 540px;
}



/* instant */

#instant {
    background: #e9eced;
    height: 500px;
}

#instant .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

#instant .text-column .text-box {
    position: relative;
    top: 140px;
}

#instant .text-column .text-box h2 {
    color: #000000;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

#instant .text-column .text-box p {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 16px;

}

#instant .img-column .img-box {
    margin-top: 15%;
    margin-left: 20%;
}

#instant .img-column .img-box img {
    width: 300px;
}


/* feature-1 */

#feature-1 {
    background: #f2f2f2;
    height: 750px;
}

#feature-1 .feature-1-box {
    color: #222222;
    padding-top: 50px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}


#feature-1 .feature-1-box h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#feature-1 .feature-1-box p {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-weight: 400;
}

#feature-1 .feature-1-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 30px;
}


#feature-1 .feature-1-column .img-box {
    margin-top: -2%;
    margin-left: 20%;
}

#feature-1 .feature-1-column .img-box img {
    width: 300px;
}

#feature-1 .feature-1-column .box-column {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    width: 100%;

}

#feature-1 .feature-1-column .box-column .box {
    width: 85%;
    margin-top: 20px;
}


#feature-1 .feature-1-column .box-column .box i {
    color: #43bccd;
    margin-bottom: 5px;
    font-size: 26px;
}

#feature-1 .feature-1-column .box-column .box h4 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

#feature-1 .feature-1-column .box-column .box p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;

}

/* feature-2 */


#feature-2 {
    background: #e9eced;
    height: 800px;
}

#feature-2 .feature-2-box {
    color: #222222;
    padding-top: 50px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}


#feature-2 .feature-2-box h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#feature-2 .feature-2-box p {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-weight: 400;
}

#feature-2 .feature-2-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 60px;
}


#feature-2 .feature-2-column .img-box {
    margin-left: 50px;
    margin-right: 45px;

}

#feature-2 .feature-2-column .img-box img {
    width: 300px;

}


#feature-2 .feature-2-column .box-column-1 {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    height: 100%;
}



#feature-2 .feature-2-column .box-column-2 {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    height: 100%;

}

#feature-2 .feature-2-column .box-column-1 .box {
    width: 100%;
    margin-top: 20px;
    text-align: right;

}

#feature-2 .feature-2-column .box-column-2 .box {
    width: 100%;
    margin-top: 20px;
}



#feature-2 .feature-2-column .box-column-1 .box i {
    color: #43bccd;
    margin-bottom: 5px;
    font-size: 26px;
}

#feature-2 .feature-2-column .box-column-1 .box h4 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

#feature-2 .feature-2-column .box-column-1 .box p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;
}



#feature-2 .feature-2-column .box-column-2 .box i {
    color: #43bccd;
    margin-bottom: 5px;
    font-size: 26px;
}

#feature-2 .feature-2-column .box-column-2 .box h4 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

#feature-2 .feature-2-column .box-column-2 .box p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;
}


/* gallery */

#gallery {
    position: relative;
    background-color: #e9eced;
    height: 550px;
}

#gallery .row {
    margin-left: -15px;
    margin-right: -15px;

}

#gallery .trapeze-gallery-bg {
    position: absolute;
    top: -5px;
    left: -17%;
    width: 70%;
    height: 100%;
    background-color: #e9eced;
    transform: skewX(-7deg);
    z-index: 5;
}

#gallery .gallery-content {
    position: relative;
    float: left;
    width: 50%;
    height: 25rem;
    padding: 70px 15px 0 15px;
    text-align: left;
    z-index: 5;
}

#gallery .gallery-content h2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 3rem;
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

#gallery .gallery-content p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;


}

#gallery .gallery-content .gallery-list li {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}


#gallery .gallery-content .gallery-list li i {
    font-size: 16px;
    position: relative;
    top: 2px;
    left: -2px;
    color: #f9ca24
}



#gallery .gallery-content .gallery-list {
    position: relative;
    font-size: 1rem;
    line-height: 1.5rem;
}

#gallery .gallery-img {
    background-image: linear-gradient(90deg, rgba(14, 35, 45, 0.63) 0%, rgba(14, 36, 46, 0.616) 100%),
        url('/img/smartwatch-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    float: right;
    width: 65%;
    right: 0;
    height: 544px;
    padding: 0;
}



#gallery .gallery-img .flex-caption-box {
    position: relative;
    left: 10.5rem;
    top: 4.5rem;
    width: 100%;
    float: left;
    display: block;
    z-index: 1;
}

#gallery .gallery-img .flex-caption-box .flex-caption {
    position: absolute;
    left: 7rem;
    top: 0.5rem;
    color: #ffffff;
    z-index: 100;
    max-width: 500px
}

#gallery .gallery-img .flex-caption-box .flex-caption h3 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 700;
    line-height: 3rem;
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    text-transform: uppercase;
}

#gallery .gallery-img .flex-caption-box .flex-caption span {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #f9ca24;
    font-weight: 700;
    margin: 0 0 1.5rem 0;
    font-weight: 700;
    text-transform: uppercase;
}

#gallery .gallery-img .flex-caption-box .flex-caption p {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    max-width: 50%;
    line-height: 26px;
    font-weight: 300;
}

/************* products ********************/

#products {
    background-color: #f2f2f2;
    height: 700px;
}

#products .product-box {
    padding-top: 60px;
}

#products .product-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#products .product-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 3rem;
    font-weight: 400;
    text-align: center;
}

#products .product {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    margin-top: 1.5rem;
    width: 30%;
    padding: 0 18px;
}

#products .product .product-block {
    position: relative;
    background-color: #e9eced;
    padding: 2rem 0;
    overflow: hidden;
}

#products .product .product-block .product-bg {
    background-color: #43bccd;
    position: absolute;
    top: -3rem;
    left: 0px;
    width: 100%;
    height: 18rem;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    transform: skewY(-7deg);
    overflow: hidden;
    z-index: 0;
}

#products .product .product-block .product-content {
    position: relative;
    z-index: 1;
}

#products .product .product-block .product-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0 0 5px 0;
    font-weight: 700;
    text-transform: uppercase;
}

#products .product .product-block .product-content .version {
    color: #a8e0e8;
    font-family: 'Montserrat', sans-serif;
}

#products .product .product-block .product-content span {
    position: relative;
    padding: 0 5px;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#products .product .product-block .product-content .product-img {
    margin: 1.5rem 0 0 0;
}

#products .product .product-block .product-content .product-img img {
    display: inline-block;
    text-align: center;
    max-width: 15rem;
    max-height: 15rem;
}

#products .product .product-block .product-content .bnt-block {
    width: 100%;
    float: left;
    text-align: center;
}


/* product 2 */

#products-2 {
    background-color: #e9eced;
    height: 700px;
}

#products-2 .product-box {
    padding-top: 60px;
}

#products-2 .product-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#products-2 .product-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 3rem;
    font-weight: 400;
    text-align: center;
}

#products-2 .product {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    margin-top: 1.5rem;
    width: 30%;
    padding: 0 18px;
}

#products-2 .product .product-block {
    position: relative;
    background-color: #e9eced;
    padding: 2rem 0;
    overflow: hidden;

}

#products-2 .product .product-block .product-bg {
    background-color: #43bccd;
    position: absolute;
    top: -3rem;
    left: 0px;
    width: 100%;
    height: 18rem;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    transform: skewY(-7deg);
    overflow: hidden;
    z-index: 0;
}

#products-2 .product .product-block .product-content {
    position: relative;
    z-index: 1;
}

#products-2 .product .product-block .product-content h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0 0 5px 0;
    font-weight: 700;
    text-transform: uppercase;
}

#products-2 .product .product-block .product-content .version {
    color: #a8e0e8;
    font-family: 'Montserrat', sans-serif;
}

#products-2 .product .product-block .product-content span {
    position: relative;
    padding: 0 5px;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#products-2 .product .product-block .product-content .product-img {
    margin: 1.5rem 0 0 0;
}

#products-2 .product .product-block .product-content .product-img img {
    display: inline-block;
    text-align: center;
    max-width: 15rem;
    max-height: 15rem;
}

#products-2 .product .product-block .product-content .bnt-block {
    width: 100%;
    float: left;
    text-align: center;
}



#sale {
    background-color: #f2f2f2;
    height: 600px;
}

#sale .sale-box {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

#sale .sale-box h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 3rem;
    font-weight: 700;
}

#sale .sale-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 3rem;
    font-weight: 400;
}

#sale .product {
    position: relative;
    margin-top: 1.5rem;
    width: 48%;
    float: left;

}

#sale #sale-product-1 {
    margin-right: 35px;
}

#sale .product .product-block {
    position: relative;
    background-color: #e9eced;
    padding: 3rem 0;
    overflow: hidden;

}

#sale .product .product-block .product-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



#sale .product .product-block .product-bg .bg-img {
    background-color: #43bccd;
    position: absolute;
    top: 0px;
    left: -20%;
    width: 65%;
    height: 100%;
    -webkit-transform: skewX(-7deg);
    -moz-transform: skewX(-7deg);
    -ms-transform: skewX(-7deg);
    -o-transform: skewX(-7deg);
    transform: skewX(-7deg);

}

#sale .product .product-block .product-bg .bg-content {
    position: absolute;
    height: 100%;
    width: 55%;
    right: 0;
    background-color: transparent;
}

#sale .product .product-block .product-sale-img {
    width: 83%;
    height: 15%;
    text-align: center;
    padding: 0;
    z-index: 5;
    float: left;
}

#sale .product .product-block .product-sale-img .product-sale-container {
    position: absolute;
    width: 45%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#sale .product .product-block .product-sale-img .product-sale-container img {
    width: 250px;
}

#sale .product .product-block .product-sale-content {
    position: relative;
    width: 60%;
    padding: 0 0 0 45%;
}

#sale .product .product-block .product-sale-content .product-info {
    padding: 0 3rem 0 3rem;
}


#sale .product .product-block .product-sale-content .product-info h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0 0 5px 0;
    font-weight: 700;
    text-transform: uppercase;
}

#sale .product .product-block .product-sale-content .product-info span {
    position: relative;
    padding: 0;
    font-size: 1.953rem;
    line-height: 3rem;
    font-weight: 700;
}

#sale .product .product-block .product-sale-content .product-info .version {
    color: #a2a2a2;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5rem;
}

#sale .product .product-block .product-sale-content .product-info .sale {
    padding: 0 5px;
    font-family: 'Montserrat', sans-serif;
}

#sale .product .product-block .product-sale-content .product-info .sale-price {
    color: #f9c80e;
    font-family: 'Montserrat', sans-serif;
}

#sale .product .product-block .product-sale-content .product-info .text {
    padding-top: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 16px;
}

/**************** video-loaded ***************************/


.video-loaded {
    position: relative;
    width: 100%;
    height: 30rem;
    background-color: #e9eced;
    background: url('/img/smartwatch-bg.jpg') center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.video-loaded .overlay-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333e50;
    opacity: 0.8;
    z-index: 5;
}

.video-loaded .play {
    position: relative;
    text-align: center;
    width: 40px;
    margin: 190px auto 0;
    z-index: 10;
    top: 200px;
}

.video-loaded .play a{
    color: #43bccd;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.video-loaded .play a .im-play {
    font-size: 4rem;
}


/* FAQ */

#FAQ {
    background-color: #e9eced;
    height: 25rem;
    width: 100%;
    padding-bottom: 20px;
}

#FAQ .faq-box {
    text-align: center;
    padding-top: 40px;
    margin-bottom: 2rem;
}

#FAQ .faq-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#FAQ .faq-box p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
    line-height: 24px;
   
}

#FAQ .faq-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
   
}

#FAQ .faq-column .column {
    padding: 0 10px;
}

#FAQ .faq-column .column h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

#FAQ .faq-column .column p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
   
}

/********************* Download **************************/

#download {
    position: relative;
    background: url('/img/snowboard-background.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;

}

#download .overlay-download {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000094;
    opacity: 0.8;
}

#download .download-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}


#download .download-box .colum-1 {
    padding-top: 18%;
    z-index: 5;
    padding-left: 5%;
}

#download .download-box .colum-1 h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 20px;
}

#download .download-box .colum-1 span {
    color: #f9c80e;  
}

#download .download-box .colum-1 p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
    color: #ffffff;
    
}

#download .download-box .colum-1 .img-box {
    display: inline-block;

}

#download .download-box .colum-1 .img-box img {
    width: 200px;
    
}

#download .download-box .colum-2 {
    z-index: 5;
}


#download .download-box .colum-2 .img-box {
    position: relative;
    top: 18%;
    left: 25%;

}

#download .download-box .colum-2 .img-box img {
    width: 300px;
    
}

