@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Open+Sans&display=swap');


.container {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;

}

.row {
    height: 100%;
}

.blue-button {

    background-color: #43bccd;
    color: #f2f2f2;
    display: inline-block;
    border-radius: 25px;
    position: relative;
    height: 3rem;
    padding: 0.50rem 2.5rem;
    border: none;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    cursor: pointer;

}


/*********** global variables **************/


#cover {
    height: 700px;
    width: 100%;
    background-color: #43bccd;
}

header {
    width: 100%;
    display: flex;
}

header #navbar {
    width: 100%;
}

header #navbar ul {
    display: flex;
    position: relative;
    top: 55px;
    justify-content: flex-end;

}

header #navbar ul li #home {
    color: #000000;
    border-bottom: 1px solid #f9ca24;
}

header #navbar ul li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
    color: #ffffff;
    font-weight: 300;
    transition: all .2s ease-in-out;
}

header #navbar ul li a:hover {
    color: #000000;
    border-bottom: 1px solid #f9ca24;
}

header img {
    width: 100px;
}

.cover-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cover-box {
    position: relative;
    padding: 0 14% 0 0;
    top: 120px;
}

.cover-box h2 {
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
    width: 80%;
    letter-spacing: 2px;

}

.cover-box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 20px;
    line-height: 2rem;

}

.cover-box .blue-button {
    background-color: #f2f2f2;
    color: #000000;
    display: inline-block;
    border-radius: 25px;
    position: relative;
    height: 3rem;
    padding: 0.50rem 2.5rem;
    border: none;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

.img-box {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


.img-box img {
    width: 500px;
}

/****************** about **********************/


#about {
    background-color: #f2f2f2;
}

#about .about-column {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));

}

#about .img-box {
    margin: 0 auto;
}

#about .img-box img {
    width: 550px;
    margin-left: -60px;
}


#about .about-box {
    position: relative;
    top: 100px;
}

#about .about-box h3 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 30px;
}

#about .about-box p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

/****************** technologies  **********************/

#tech {
    height: 550px;
    background-image: linear-gradient(90deg, rgba(14, 35, 45, 0.63) 0%, rgba(14, 36, 46, 0.616) 100%),
        url('/img/smartwatch-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


#tech .tech-box {
    text-align: center;
    padding-top: 50px;
}

#tech .tech-box h3 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 700;
    margin-bottom: 30px;
}

#tech .tech-box p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 100;
    margin-bottom: 30px;
    padding: 0 120px;
    line-height: 24px;
}

#tech .tech-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#tech .tech-column .box {
    padding: 10px 10px;
}

#tech .tech-column .box i {
    color: #f9ca24;
    font-size: 30px;
    padding-bottom: 10px;
}

#tech .tech-column .box span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 600;
    padding-bottom: 5px;
}

#tech .tech-column .box p {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 300;
    line-height: 25px;

}

/* quick */

#quick {
    background: #f2f2f2;
    height: 500px;
}

#quick .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

#quick .text-column .text-box {
    position: relative;
    top: 140px;
}

#quick .text-column .text-box h2 {
    color: #000000;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

#quick .text-column .text-box p {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 16px;

}

#quick .img-column .img-box img {
    margin-left: 10%;
    width: 540px;
}



/* instant */

#instant {
    background: #e9eced;
    height: 500px;
}

#instant .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

#instant .text-column .text-box {
    position: relative;
    top: 140px;
}

#instant .text-column .text-box h2 {
    color: #000000;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

#instant .text-column .text-box p {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 16px;

}

#instant .img-column .img-box {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#instant .img-column .img-box img {
    margin-left: -4%;
    width: 500px;
}


/* feature-1 */

#feature-1 {
    background: #f2f2f2;
    height: 750px;
}

#feature-1 .feature-1-box {
    color: #222222;
    padding-top: 50px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}


#feature-1 .feature-1-box h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#feature-1 .feature-1-box p {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-weight: 400;
}

#feature-1 .feature-1-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin-top: 60px;
}


#feature-1 .feature-1-column .img-box {
    margin-top: -35px;
    margin-left: auto;
    margin-right: auto;
}

#feature-1 .feature-1-column .box-column {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    width: 100%;

}

#feature-1 .feature-1-column .box-column .box {
    width: 85%;
    margin-top: 20px;
}


#feature-1 .feature-1-column .box-column .box i {
    color: #43bccd;
    margin-bottom: 5px;
    font-size: 26px;
}

#feature-1 .feature-1-column .box-column .box h4 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

#feature-1 .feature-1-column .box-column .box p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;

}

/* feature-2 */


#feature-2 {
    background: #e9eced;
    height: 750px;
}

#feature-2 .feature-2-box {
    color: #222222;
    padding-top: 50px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}


#feature-2 .feature-2-box h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#feature-2 .feature-2-box p {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    font-weight: 400;
}

#feature-2 .feature-2-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 60px;
}


#feature-2 .feature-2-column .img-box {
    margin-top: -35px;
    margin-left: auto;
    margin-right: auto;
}

#feature-2 .feature-2-column .box-column-1 {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    height: 100%;
}



#feature-2 .feature-2-column .box-column-2 {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    height: 100%;

}

#feature-2 .feature-2-column .box-column-1 .box {
    width: 100%;
    margin-top: 20px;
    text-align: right;

}

#feature-2 .feature-2-column .box-column-2 .box {
    width: 100%;
    margin-top: 20px;
}



#feature-2 .feature-2-column .box-column-1 .box i {
    color: #43bccd;
    margin-bottom: 5px;
    font-size: 26px;
}

#feature-2 .feature-2-column .box-column-1 .box h4 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

#feature-2 .feature-2-column .box-column-1 .box p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;
}



#feature-2 .feature-2-column .box-column-2 .box i {
    color: #43bccd;
    margin-bottom: 5px;
    font-size: 26px;
}

#feature-2 .feature-2-column .box-column-2 .box h4 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
}

#feature-2 .feature-2-column .box-column-2 .box p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 26px;
}


/* gallery */